body {
            font-family: Arial, sans-serif;
            margin: 20px;
            padding: 0;
            background-color: #f9f9f9;
        }

        h1 {
            text-align: center;
        }

        .calendar-container {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 20px;
        }

        .nico-icon {
            font-size: 50px;
            margin: 0 20px;
        }

        .calendar-wrapper {
            display: flex;
            justify-content: space-between;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            margin-bottom: 20px;
        }

        th,
        td {
            border: 1px solid #ccc;
            text-align: center;
            padding: 10px;
            cursor: pointer;
            background-color: #fff;
        }

        th {
            background-color: #eaeaea;
        }

        td:hover {
            background-color: #f0f8ff;

        }

        .saturday {
            background-color: #add8e6;

        }

        .sunday {
            background-color: #ffcccb;

        }

        #workInfo {
            margin-top: 20px;
            padding: 10px;
            background-color: #e0f7fa;
            border: 1px solid #008cba;
            border-radius: 5px;
            font-weight: bold;
        }

        .control-panel {
            display: flex;
            justify-content: flex-end;
            margin-bottom: 20px;
        }

        .worker-list {
            text-align: left;
            line-height: 1.5;

        }

        ..worker-name {
    padding: 5px;
    margin-top: 5px;
    color: white;
    font-size: 12px;
}

        .month-display {
            text-align: center;
            font-size: 1.5em;
            margin-bottom: 10px;
        }

        .shift-detail {
            text-align: left;
            padding: 10px;
            border: 1px solid #ccc;
            background-color: #f7f7f7;
            border-radius: 5px;
            margin-top: 20px;


        }
