body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
}

.container {
    width: 90%;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h1 {
    text-align: center;
    margin-top: 20px;
    color: #333333;
}

label {
    font-size: 18px;
    margin-right: 10px;
}

select {
    font-size: 18px;
    padding: 10px 15px;
    border-radius: 4px;
    border: 1px solid #cccccc;
    background-color: #ffffff;
    color: #333333;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 200px; /* ボタンの幅を大きくする */
}

select:hover {
    background-color: #e0e0e0;
}

.table-container {
    margin: 20px auto;
    width: 100%;
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 18px;
    text-align: left;
    table-layout: fixed; /* テーブルのレイアウトを固定 */
}

table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}

table th, table td {
    padding: 12px 15px;
    word-wrap: break-word; /* 長い単語を折り返す */
}

table tbody tr {
    border-bottom: 1px solid #dddddd;
}

table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.error {
    color: red;
    text-align: center;
    margin-top: 20px;
}

footer {
    width: 100%;
    text-align: center;
    padding: 10px 0;
    background-color: #009879;
    color: white;
    position: fixed;
    bottom: 0;
    left: 0;
}